.image {
  background-color: white;
  flex-basis: 30vw;
  box-shadow: 0 0 5px 1px grey;
  padding: 5%;
  margin: 2.5% 1%;
  &:hover {
    box-shadow: 0 0 10 black;
  }
  .meme-image {
    background-image: url("./loader.png");
    background-repeat: no-repeat;
    background-position: center;
  }
  img {
    min-height: 150px;
    border: 1px solid black;
    width: 100%;
    height: auto;
    object-fit: contain;
  }
}
.close {
  position: relative;
  cursor: default;
  float: right;
}

.class-modal {
  position: relative;
  height: 100%;
}

.ReactModal__Overlay--after-open {
  animation: blur 0.5s ease-out forwards;
}

.ReactModal__Body--open {
  overflow: hidden;
}

.ReactModal__Overlay {
  opacity: 0;
  transform: translateY(-400px);
  transition: all 0.75s ease-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
  transform: translateY(0px);
}

.ReactModal__Overlay--before-close {
  opacity: 0;
  transform: translateY(-400px);
}

@keyframes blur {
  0% {
    backdrop-filter: blur(0px);
  }
  100% {
    backdrop-filter: blur(3px);
  }
}
